# generated
codemirror-lang-orgmode/src/parser.terms.ts
codemirror-lang-orgmode/src/generated_grammar.ts
orgzly_search_generated_grammar.ts


# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json
