.cm-line:has(.org-heading) {
  font-size: 1.05em;
}

.cm-line:has(.org-planning),
.cm-line:has(.org-propertydrawer) {
  font-size: 0.95em;
}

.theme-dark .org-heading,
.theme-dark .org-title {
  color: #2fbd23;
}

.theme-dark .org-planning {
  color: #bb8210;
}

.theme-dark .org-propertydrawer {
  color: #aa944f;
}

.theme-dark .org-section {
  color: #b9cddb;
}

.theme-dark .org-comment {
  color: #a68fa7;
}

.theme-dark .org-keyword {
  color: #bb0f0f;
}

.theme-dark .org-priority {
  color: #058fc7;
}

.theme-dark .org-tags {
  color: #02ffc7;
}







.theme-light .org-heading,
.theme-light .org-title {
  color: #2f8925;
}

.theme-light .org-planning {
  color: #895f0a;
}

.theme-light .org-propertydrawer {
  color: #705f2c;
}

.theme-light .org-section {
  color: rgb(58, 69, 74);
}

.theme-light .org-comment {
  color: #a68fa7;
}

.theme-light .org-keyword {
  color: #931212;
}

.theme-light .org-priority {
  color: #197aa0;
}

.theme-light .org-tags {
  color: #1d9077;
}